<h1> ToDo 18 de Septiembre </h1>
<div class="container">
  <%= @tasks.each_slice(3) do |row| %>
    <div class="row">
      <% row.each do |task| %>
        <div class="col">
          <div class ="card">
            <%= image_tag task.photo, class: "card-img-top"%>
            <div class ="body">
              <h5> <%= task.name %> </h5>
              <p> <%= task.description %> </p>
              
            </div>
          </div>
        </div>
        <% end %>
      </div>
  <% end %>
</div>
